:root {
    --backgroundColor: #FFFFFF;
    --lightContrastColor: #E0E0E0;
    --darkContrastColor: rgb(80, 80, 80);
    --foregroundColor: black;

    --primaryColor: #002e5d;
}

.content {
    background-color: var(--backgroundColor);
    padding: 20px;
}

body {
    background-color: var(--lightContrastColor);
}

.background-primary{
    background-color: var(--primaryColor);
}

.container {
    margin-top: 20px;
}