:root {
    --backgroundColor: white;
    --lightContrastColor: lightgrey;
    --darkContrastColor: rgb(80, 80, 80);
    --foregroundColor: black;

    --primaryColor: #036;
}

.background-primary{
    background-color: var(--primaryColor);
}

.container {
    margin-top: 20px;
}